<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Skill Drill</title>
        <meta name="viewport" content="width=device-width">
        <link href="css/grid.css" rel="stylesheet" type="text/css">
        <script type='text/javascript' src='js/jquery.js'></script>
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <script>
           $(function() {
               var pull = $('.menu-btn');
               menu = $('nav .menu');
               menuHeight = menu.height();
               $(pull).on('click', function(e) {
               e.preventDefault();
               menu.slideToggle();
               });
               $(window).resize(function(){
               var w = $(window).width();
               if(w > 320 && menu.is(':hidden')) {
               menu.removeAttr('style');
               }
               });
               });
        </script>
</head>
<body>
<header>
	<div class="wrapper">
    	<div class="col">
        	 <div class="col-4">
              <h1 class="logo"><a href="/home"><img src="/assets/isygnet-logo-final.png"></a></h1>
            </div>
            <div class="col-8">
            	<div class="fr clr social">
                	<span>Stay Connected:</span>
                	<ul class="social-icon fr">
						<li><a href="#" class="facebook">&nbsp;</a></li>
                        <li><a href="#" class="g-plus">&nbsp;</a></li>
						<li><a href="#" class="tweet">&nbsp;</a></li>
                        <li><a href="#" class="rss">&nbsp;</a></li>
						<li><a href="#" class="vimeo">&nbsp;</a></li>
                        <li><a href="#" class="linkedin">&nbsp;</a></li>						
					</ul>
                </div>
                <div class="fr phone-number clr">
                	<span class="phone-num-img">&nbsp;</span>
                	<span class="phone-text">Contact us: </span>
                    <span class="number">(<small>020</small>) 6419808</span>
                </div>
                <nav class="clr fr">
                    <a class="menu-btn" href="javascript:void(0);">Menu</a>
                    <ul class="fr menu-pills menu">
                        <li><a href="#" class="active">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="#">Our Cources</a>
                          <ul class="sub-menu">
                              <% @courses.each do |c| %>
                           <li><%= link_to c.title, {:action => 'course_detail', :id => c.id } -%></li>
                            <% end %>
                          </ul>
                        </li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div><!-- wrapper end -->
</header>
<!-- header end -->
<div class="wrapper clr">            
            <section class="about shadow">
            <div class="col title">                
                <ul class="breadcrumb">
                   <li><a href="/home">Home</a> / <span class="current">Cources</span></li>
                </ul> 
                
            </div>
            <div class="col">
              <div class="mid-head col-12 italic">                    
                  We are Stark Digital Media Services Pvt. Ltd a leading WEB Services Company providing end to end design and developmentservices to its clients across the globe
              </div>
             </div>
            <div class="col cours-she">
                 <div class="col-12 border-bottom">
                    <div class="col-4">
                      <img src="/assets/tlabs-php-course.png" width="100%">                         
                    </div>
                    <div class="col-8">    
                              <h2><%= @course.title%></h2> 
                              <p><%= @course.description%></p>
                              <p><%= @course.duration%></p>
                              <p><%= @course.fees%></p>
                              <p><%= @course.feature_image%></p> 
                              <p><%= @course.status%></p>
                              
                              <p></p>           
                       <button type="submit" class="btn-normal course-shed-btn">Schedule of Cources</button>                 
   						      </div>
                </div>    
            </div>
            <div class="col">
              <div class="col-12 mid-head">
                You can also check Cources
              </div>
              <div class="col-12">
                  <div class="col-4">
                            <div class="course-img">
                                    <img src="/assets/tlabs-php-course.png" alt="img">
                                    <span class="caption">
                                    <p>
                                    
                                    <%= rand(100) %>
                                    
                                    </p>
                                      <a href="/course_detail?id=1" class="read-btn">Read More</a> 
                                    </span>
                              </div>
                  </div>
                  <div class="col-4">
                            <div class="course-img">
                                    <img src="/assets/tlabs-php-course.png" alt="img">
                                    <span class="caption"><p>graduation</p>
                                      <a href="/course_detail?id=2" class="read-btn">Read More</a> 
                                    </span>
                              </div>  
                  </div>
                  <div class="col-4">
                           <div class="course-img">
                                    <img src="/assets/tlabs-php-course.png" alt="img">
                                    <span class="caption"><p>abcd</p>
                                      <a href="/course_detail?id=3" class="read-btn">Read More</a> 
                                    </span>
                              </div>   
                  </div>
              </div>
            </div>             
            </section>                       
            <footer>
                     <p>Copyright 2014 All Rights Reserved by <a href="#">isygnet</a><p>
            </footer><!-- footer end -->    
</div><!-- wrapper end -->   
</body>
</html>
