<div class="wrapper clr">            
            <section class="about shadow placement">
              <div class="col title">                                       
                  <div class="col-12">
                      <ul class="breadcrumb">
                      <li><a href="<%= root_path %>">Home</a> / <span class="current">About</span></li></ul> 
                  </div>
              </div>
              <div class="col">
                <div class="mid-head italic col-12">                    
                    
                </div>
              </div>
              <div class="col">
                    <div class="col-12 ">
                                         
                            <% @placements.each do |p| %>
                                <div class="col-3">
                                    <div class="course-img" style="width:150px;height:200px">
                                      <%= image_tag p.pic.url(:medium) %>
                                      <li style="float: left;"><%= p.title %> </li>                            
                                    </div>                          
                                </div>
                            <% end %>  
                                           
                    </div>
              </div>         
                        
            </section> 
</div><!-- wrapper end --> 