<%= semantic_form_for [:admin, @setting] do |f| %>
	<label>Setting Key</label><br />
    <%= if @setting.settingkey then; f.text_field :settingkey, :disabled => true  ;else;  f.text_field :settingkey ;end %><br />
    <label>Setting Value</label><br />
    <%=f.text_field :settingvalue %><br />
    <%= f.actions  %>
<% end %>