<%= semantic_form_for [:admin, @setting] do |f| %>
	<label>key</label><br />
    <%=f.text_field :settingkey%><br />
    <label>value</label><br />
    <%=f.text_field :settingvalue %><br />
    <%= f.actions  %>
<% end %>
