html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, center,dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;
	padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;text-decoration: none;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body { color: #333;font-family:"Arial";font-size: 14px;line-height: 1.42857;}
img {max-height: 100%;width: 100%;}ul,ol {list-style: none;}
* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
*:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.fl {float: left;} .fr{float: right;} .clr {clear: both;} .reset {list-style: none;} .ovfl-hide {overflow: hidden;} .ovfl-auto {overflow: auto;} .ovfl-visi {overflow: visible;}
/**font**/
@font-face {font-family: 'DroidSerifRegular';src: url('../font/droidserif-regular.eot');src: url('../font/droidserif-regular.eot') format('embedded-opentype'),url('../font/droidserif-regular.woff2') format('woff2'),url('../font/droidserif-regular.woff') format('woff'),url('../font/droidserif-regular.ttf') format('truetype'),url('../font/droidserif-regular.svg#DroidSerifRegular') format('svg');}
body {font:normal 12px;font-family: "arial";background-color:#F9F9F9;border-top:5px solid #4f91b1;}
.wrapper {padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;max-width:960px;}
a{color: #e56d00;} a:focus, a:hover, a:active{outline: none;}
h2{font-size: 24px; color: #000; float: left; margin-bottom: 15px; font-family:'DroidSerifRegular'}
p {color: #494949;float: left;font-size: 14px;line-height: 24px; text-align: justify;font-family:'DroidSerifRegular'}
/* grid layout css */
.col {margin-right: -15px;margin-left: -15px;overflow: hidden;}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {float: left;margin:0 0 5px 0;}
 .col-12 {width: 100%;}.col-11 {width: 91.66666667%;}.col-10 {width: 83.33333333%;}.col-9 {width: 75%;}.col-8 {
    width: 66.66666667%;}.col-7 {width: 58.33333333%;}.col-6 {width: 50%;}.col-5 {width: 41.66666667%;}.col-4 {width: 33.33333333%;}.col-3 {width: 25%;}.col-2 {width: 16.66666667%;}.col-1 {width: 8.33333333%;}
/* header css */
header {margin-top:20px;}
header .col { overflow: visible;}
h1.logo {margin-top: 19px;}.logo img{width: auto;}
.social span {color: #393939;float: left;font-size: 16px;margin: 6px;}
.social-icon{overflow:visible; margin-bottom: 30px;}
.social-icon li {margin-right: 5px; float: left;}
.social-icon li a {background-image: url("<%= asset_path('icon.png') %>");border-radius: 90px;height: 28px;width: 27px;opacity: 0.8; display: block; background-repeat: no-repeat;background-position: 0 0; transition:all 0.25s linear 0s;}
.social-icon li a:hover {opacity:1;}
.social-icon li a.g-plus {background-position: -36px 0;}
.social-icon li a.tweet {background-position: -70px 0;}
.social-icon li a.rss {background-position: -105px 0;}
.social-icon li a.vimeo {background-position: -140px 0;}
.social-icon li a.linkedin {background-position: -175px 0;}
.phone-number {margin-bottom: 10px;}
.phone-text {font-size: 24px;font-family: "DroidSerifRegular";}
.number {font-size:24px;}
.phone-num-img {background-image: url("<%= asset_path('phone.png') %>");background-repeat: no-repeat;display: block;float: left;height: 30px;margin-right: 10px;width: 30px;}
nav ul.menu-pills{background-color: #3E3E3E; padding: 0px; border-radius: 3px; /*overflow: visible;*/margin-bottom: 10px;}
nav ul li{float: left;position: relative;}
nav ul.menu-pills li a{padding:10px 20px; color:#f9f9f9; display: block; font-size: 16px; border-right: 1px solid #565656;transition:all 0.25s linear 0s;text-decoration: none;}
nav ul.menu-pills li a:hover{ background-color:#1A1A1A; border-radius: 0px;}
nav ul.menu-pills li a.active{background-color:#1A1A1A;}
.navbar-hidden{display: none;}
.fr.menu-pills.menu ul.sub-menu {background-color: #3e3e3e;min-width: 130px;position: absolute;top: 42px;z-index: 999999; display: none;transition:all 0.25s linear 0s}
.fr.menu-pills.menu ul.sub-menu li {border: medium none;float: left;width: 100%;}
nav ul.menu-pills.menu li:hover ul.sub-menu{display: block;}
/*ul.menu {overflow: hidden;}*/
ul.menu li {float: left;}
.menu li a:hover {background-color: #000;border-radius: 9px;}
.menu li a {color: #fff;display: block;padding: 10px;}
.menu-btn {background-color: #333;border-radius: 8px;color: #fff;display: none;float: right;padding: 10px;text-decoration: none;}
/* social icons css */
.social-icon {overflow: hidden;}
.social-icon li:last-child {margin-right: 0;}
/* social icons css end */
/* form element css */
input[type="file"] {display: block;}
textarea {resize:none;}
select[multiple], select[size] {height: auto;}
.input-group {margin-bottom: 15px;}
.input-group label {display: inline-block;font-weight: 700;margin-bottom: 5px;max-width: 100%;}
.input-control {background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;color: #555;display: block;font-size: 14px;height: 34px;line-height: 1.42857;padding: 6px 12px;transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;width: 100%;}
textarea.input-control {height: auto;}
.btn-normal {background-color: #fff;border:2px solid #000;color: #333;font-weight: bold;padding: 10px;}
/* slider css */
.slider{margin-bottom: 20px; background-color: #fff}
.shadow{border-radius: 3px;box-shadow: 0 0 2px #ddd;border: 1px solid #eeeeee;}
.shadow img {height: 100%; display: block;}
.padding{padding: 5px}
/* stu-tetis css */
.stu-tetis{overflow: hidden; padding: 45px 10px 35px 10px; margin: 30px 0; background-color: #fff}
.stu-tetis .col-7 {margin-left: 20px;width: 55.333% !important;}
.box{height: 203px; background:none !important; border:none !important;}
.boxs{padding-top: 20px;}
.thumbs {padding: 5px;height: 85px;border-radius: 1px !important; margin-bottom: 10px; display: block;}
/* maping css */
.maping{overflow: hidden; padding: 15px 10px; margin: 30px 0; background-color: #fff }
.maping .col-7 {margin-left: 50px;width: 51.333% !important;}
.btn-normal{background-image:url("<%= asset_path('btn_bg.png') %>"); background-repeat: repeat; background-position: 0 0; border:0px !important; font-size: 16px !important; color:#F9F9F9 !important; padding: 10px 20px; text-transform: uppercase; margin-top: 30px;text-shadow: 1px 1px 0 #444; border-radius: 3px; cursor: pointer;font-family: "arial";}
.btn-normal:hover{background-image:url("<%= asset_path('btn_bg_hover.png') %>") !important; background-repeat: repeat; background-position: 0 0; opacity: 1 !important}
/* courses css */
.courses{overflow: hidden; background-color: #fff;padding: 40px 10px 20px 10px; margin: 30px 0;}
.courses h2{color: #e56d00}
.input-group {float: left;margin-top: 20px;width: 70%;}
.input-group select{color: #272727 !important;}
/* partner-slider css */
.partner-slider{overflow: hidden;padding: 40px 10px; margin: 20px 0;background-color: #fff}
.partner-slider h2{text-align: center; float: none;}
.slider-img li {float: left;margin: 10px 13px;width: 17%; padding: 5px;box-shadow: 0 0 2px 1px #ddd; height: 185px;}
/* traning css */
.traning{overflow: hidden; padding: 40px 10px; margin: 30px 0; background-color: #fff}
.train-img{width: 227px; height: 231px;}
.traning h3{color: #272727; font-size: 20px;  clear: both;}
.traning .col-7 {margin-left: 80px;width: 57.333%;}
.para{background-image:url("<%= asset_path('quote.png') %>"); background-repeat: no-repeat; background-position: 0 0; padding: 5px 0 0 70px;font-size: 14px; line-height: 20px; color: #494949; margin-top: 30px;}
.traning .col-7 > p {color: #272727;font-size: 14px;font-weight: bold;padding: 10px 0 0 70px;}
.col-7 p span {color: #494949;font-style: italic;font-size: 13px; font-weight: normal;}
.sidebar .menu-stacked {margin: 10px 0 0 30px;}
.sidebar li a {background:none;border-bottom: 1px solid #efefef;border-radius: 0;font-size: 18px;padding: 10px 0;color:#e56d00;}
.sidebar h4 {border-bottom: 1px solid #efefef;color: #494949;font-size: 20px;font-weight: normal;padding-bottom: 10px;}
.sidebar {border-right:1px solid #efefef;}
.about {background-color: #ffffff;overflow: hidden;padding: 10px;}
/***about page***/
.mid-head {color: #494949;font-size: 18px;margin-bottom: 30px !important;text-align: center;font-family:"DroidSerifRegular";padding: 0 20px;}
.breadcrumb{background:none; font-size: 16px; font-family:"DroidSerifRegular";color:#494949; padding: 10px; text-align: right;}
.breadcrumb li{margin-right: 20px;}
.about .col-12 p {float: none;}
.about-slider {border-radius: 3px;box-shadow: 0 0 5px #666666;margin: 0 30px 8px 0;padding: 5px;position: relative;width: 310px;}
.cours-she{margin-bottom: 10px; padding-bottom: 10px;}
.course-shed-btn {margin:20px 0 20px 0;}
.cours-she h2 {float: none;line-height: 22px;margin-bottom: 10px;}
.border-bottom{border-bottom: 1px dotted #ccc;margin-bottom: 20px;}
.course-img {height: 180px;position: relative; overflow: hidden;}
.caption {bottom: 0;font-size: 18px;padding: 10px;position: absolute;width: 100%;z-index: 999999;background-image: url("<%= asset_path('bg-1.png') %>"); background-position: 0 0; background-repeat: repeat;color: #F9F9F9; text-align: center;}
.about span.caption p {float: left;color: #F9F9F9;}
.read-btn {float: right;font-size: 14px;margin-top: 3px;text-align: right;}
.read-btn:hover {text-decoration: underline;}.text-centre{text-align: center;}.text-centre .btn-normal{margin: 20px 0}
.italic{font-style: italic;}.about-slider .caption {bottom: 5px;width: 97%;}
.about .col-4 {margin-bottom: 20px;}
/***placement page ***/
.place-box {float: left;width: 100%;border: 1px solid #eeeeee;transition: all 0.2s ease-out 0s; background-image: url("<%= asset_path('background.jpg') %>"); background-position: 0 0; background-repeat:repeat;}
.marg-top{margin-top: 20px;}.placement {padding-bottom: 20px;}.place-box .caption {bottom: 6px;width: 81.5%;}
.place-box:hover { border: 1px solid #999999;box-shadow: 0 0 30px #999999 inset;}.place-box > img {margin: 0 auto;width: auto;}
.placement .col-12{margin-bottom: 0px;}.placement .col-3{margin: 4px; padding: 0px; width: 24%}
/* Contact Page*/
.input_field label {display: block; padding-bottom:5px;}
.input_field input[type="text"], .input_field input[type="email"], .input_field textarea {border: 1px solid #ccc;border-radius:3px;padding:5px;resize:none;width:100%;color: #999;font-family: arial;font-size: 12px;}
.contact .col-6 span {color: #555; font-size: 16px; font-weight: bold;}
.contact .col-6 address a {display: block;}
.contact button {margin-top:0px;}
.contact address p.phone a {background-image: url("<%= asset_path('icon.png') %>");background-position: 0 -39px; background-repeat: no-repeat; padding-left: 32px;}
.contact address p.email a {background-image: url("<%= asset_path('icon.png') %>");background-position: 0 -59px; background-repeat: no-repeat; padding-left: 32px;}
.contact .input_field {margin-bottom: 10px;}
.contact span.getintouch {display: inline-block;font-family: "DroidSerifRegular";font-size: 20px;margin-bottom: 10px;}
/* footer css */
footer p{text-align: center; float: none; margin: 10px 0;}
/* title css */ 
.col.title {border-bottom: 1px solid #999;margin:10px 0 20px 0;}
.title h2 {font-size: 23px;}
/* responsive css */
@media only screen and (max-width: 1024px) {
.social-icon li {margin-bottom:5px;}
}
@media only screen and (max-width: 800px){
nav ul.menu-pills li a {font-size: 15px;}
}
@media only screen and (max-width: 768px) {
.menu-btn {display: block;}
.navbar .menu {background-color: #333333;display: none;padding: 10px;position: absolute;right: 10px;top: 58px;width: 230px;z-index: 999;}
.menu li {float: none;}
.menu-pills li a {font-size: 14px;}
ul.menu li {float:left;}
nav {margin-top:20px;}
.menu-btn {display: none;color:#FFFFFF;}
nav ul.menu-pills li a {font-size: 12px;}
.traning .col-7, .maping .col-7 {margin-left: 0px;}
.placement .col-3 {width: 23.8%;}
.social-icon { margin-bottom: 16px;}
}
@media only screen and (max-width: 640px){
.stu-tetis .col-7, .maping .col-7, .traning .col-7 {margin-left: 0px !important; }.menu-btn {display:block;}
ul.menu {display: none;}ul.menu li {float:none;}ul.menu {margin-top: 10px; width: 100%;}nav {margin-top: 20px;width: 100%;}
.fr.menu-pills.menu ul.sub-menu {display: block;position: relative;top: 0;}
.fr.menu-pills.menu ul.sub-menu li a:before {content: "-";display: inline-block;margin-right: 10px;}
.placement .col-3 {width: 23.5%;}.place-box > img {width: 100%;}.social-icon { margin-bottom: 16px;}
}
@media only screen and (max-width: 480px) {
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {width: 100%;}
.col {margin: 0 5px}.social-icon {float: left;}.cours-she h2 {margin: 10px 0 !important;}
.stu-tetis .col-7, .maping .col-7, .traning .col-7{width: 100% !important;}
.placement .col-3 { width: 100% !important; margin: 0px !important; padding: 5px 15px !important;}
.place-box > img {width: auto !important;}h1.logo {text-align: center !important;}
.social {float: none !important;overflow: hidden !important;text-align: center !important;}
.social span {float: none !important;}.social-icon {float: none !important; margin: 0 auto 20px !important;width: 190px !important;}
.phone-number {float: none !important; margin: 0 auto !important;width: 250px !important;}
.phone-text, .number, .number small {font-size: 17px !important;}.about-slider {width: 100% !important;}

}
